/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /*padding: 4rem 0;*/
  /*text-align: left;*/
  /*position: relative;*/
  overflow: hidden;
  background: var(--ifm-color-background);
  /*background-image: url("/static/img/cover.png");*/
}

.container2 {
  justify-content: center;
  width: 50%;
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .ButtonRow {
    margin-left: 5rem;
  }
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .ButtonRow {
    width: 100%;
    margin-left: 15rem;
  }
}

@media (max-width: 800px) {
  .ButtonRow {
    width: 40rem;
    margin-left: 3rem;
  }
}
/*.intro__buttons {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.intro__button {*/
/*  flex: 1 1 0;*/
/*  padding-top: 0.75rem;*/
/*  padding-bottom: 0.75rem;*/
/*}*/
