/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*background-image: url("/static/img/cover.png");*/
}

.container2 {
  justify-content: center;
  width: 50%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/*@media screen and (min-width: 996px) {*/
/*  .heroBanner {*/
/*  }*/

/*}*/

/*.intro__buttons {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.intro__button {*/
/*  flex: 1 1 0;*/
/*  padding-top: 0.75rem;*/
/*  padding-bottom: 0.75rem;*/
/*}*/
